<div class="user-dashboard">
    <div class="row working-hour">
        <div class="col-sm-12">
            <h3>Hello, Filip</h3>
            <p>Checkout your latest projects and their progress</p>
            <hr>
        </div>
        <div class="col-sm-12">
            <div class="thumbnail">
                <div class="clearfix">
                    <div class="pull-left">
                        <h3>Wavy Lines</h3>
                        <p>Working hours</p>
                    </div>
                    <div class="pull-right">
                        <h4 style="margin-top:25px;">THIS WEEK&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-down bold"></i></h4>
                    </div>
                </div>

                <canvas class="chart chart-line" chart-data="data" chart-labels="labels"
                    chart-series="series" chart-click="onClick" chart-colors="colors" chart-options="options" ></canvas>
            </div>
        </div>
    </div>
    <div class="row daily-progress">
        <div class="col-sm-12">
            <h3>Crunch some Numbers</h3>
            <p>See how your projects are progressing via the new statistics engine</p>
            <hr>
        </div>
        <div class="col-sm-4 daily-progress-left">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="column-height aligner">
                            <div class="pull-left text-center left-side aligner-item--fixed">
                                <h3>{{totalWorkingHours}}</h3>
                                <p>Working Hours</p>
                            </div>
                            <div class="pull-left right-side aligner-item--fixed">
                                <canvas class="chart chart-line" chart-data="data4" chart-labels="labels4" chart-click="onClick" chart-colors="colors4" chart-options="options4" width="172" height="112"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="column-height aligner">
                            <div class="pull-left text-center left-side aligner-item--fixed">
                                <h3>{{totalConversations}}</h3>
                                <p>Conversations</p>
                            </div>
                            <div class="pull-left right-side aligner-item--fixed">
                                <canvas class="chart chart-line" chart-data="data5" chart-labels="labels5" chart-click="onClick" chart-colors="colors5" chart-options="options5" width="172" height="55"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="column-height aligner">
                            <div class="pull-left text-center left-side aligner-item--fixed">
                                <h3>{{totalPeople}}</h3>
                                <p>People</p>
                            </div>
                            <div class="pull-left avatar-list aligner right-side aligner-item--fixed">
                            <div class="aligner-item--fixed">
                            <ul>
                                <li><img src="images/avatar-thumbnail1.png" alt="" /></li>
                                <li><img src="images/avatar-thumbnail2.png" alt="" /></li>
                                <li><img src="images/avatar-thumbnail3.png" alt="" /></li>
                                <li><img src="images/avatar-thumbnail4.png" alt="" /></li>
                                <li><img src="images/avatar-thumbnail5.png" alt="" /></li>
                                <li><img src="images/avatar-thumbnail6.png" alt="" /></li>
                                <li><img src="images/avatar-thumbnail7.png" alt="" /></li>
                            </ul>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 daily-progress-right daily-progress-chart">
            <div class="thumbnail">
                <div class="clearfix">
                    <div class="pull-left">
                        <h3>Daily Progress</h3>
                        <p>Working hours</p>
                    </div>
                    <div class="pull-right">
                        <h4 style="margin-top:25px;">THIS WEEK&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-down bold"></i></h4>
                    </div>
                </div>
                <canvas class="chart chart-line" chart-data="data1" chart-labels="labels1"
                        chart-series="series1" chart-click="onClick" chart-colors="colors1" chart-options="options1" style="padding:10px;" height="180"></canvas>
            </div>
        </div>
    </div>
    <div class="row current-progress">
        <div class="col-sm-12">
            <h3>Current Progress</h3>
            <p>This table will show you how your current projects are behaving.</p>
            <hr>
        </div>
        <div class="col-sm-12 current-projects">
            <div class="row" ng-repeat="project in projects">
                <div class="col-sm-12">
                    <div class="thumbnail">
                        <div class="row" style="position:relative">
                            <div class="col-sm-2 aligner">
                                <img ng-src="{{project.image}}" alt="{{project.title}}" class="aligner-item--fixed"/>
                            </div>
                            <div class="col-sm-3">
                                <h3>{{project.title}}</h3>
                                <p>{{project.type}}</p>
                            </div>
                            <div class="col-sm-2 aligner">
                                <p class="aligner-item--fixed no-margin">Last updated <span class="h3-color">{{project.lastUpdate | fromNow}}</span></p>
                            </div>
                            <div class="col-sm-1 aligner">
                                <div class="aligner-item--fixed"><img src="images/clock.png" alt="" /> <span class="user-blue">{{project.hours}}</span></div>
                            </div>
                            <div class="col-sm-1 aligner">
                                <div class="aligner-item--fixed"><img src="images/chat.png" alt="" /> <span class="user-blue">{{project.messages}}</span></div>
                            </div>
                            <div class="col-sm-2 aligner">
                                <div class="aligner-item--fixed" style="width:100%">
                                    <div>
                                        <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{project.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.progress}}%;background-color: {{project.color}}">
                                                <span class="sr-only">{{project.progress}}% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row crunch-some-numbers">
        <div class="col-sm-12">
            <h3>Crunch some Numbers</h3>
            <p>See how your projects are progressing via the new statistics engine.</p>
            <hr>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h3>Client Hours</h3>
                        <p>Working hours</p>
                        <canvas id="doughnut" class="chart chart-doughnut"
                                chart-data="data2" chart-labels="labels2" chart-colors="colors2" height="180">
                        </canvas>
                        <div class="donut-inner">
                            <h3 class="h3-color">{{totalHour2}}</h3>
                            <p class="user-blue">working hours</p>
                        </div>
                        <br>
                            <ul class="h3-color">
                                <li ng-repeat="label in labels2 track by $index"><span class="round-dot" style="background: {{colors2[$index]}};margin-right:10px;"></span><span class="h3-color">{{label}}</span>   <span class="pull-right h3-color bold">{{data2[$index]}}h</span></li>
                            </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail text-center no-padding">
                <img src="images/avatar.png" class="avatar-image" alt=""/>
                <h3>Jake Appleseed</h3>
                <p>London, UK</p>
                <table class="table table-bordered avatar-table">
                    <tr>
                        <td><p class="user-blue">Working hours</p><h3 class="h3-color">14 hours</h3></td>
                        <td><p class="user-blue">Amount Total</p><h3 class="h3-color">$6,269</h3></td>
                    </tr>
                    <tr>
                        <td><p class="user-blue">Overdue</p><h3 class="h3-color">$ 829</h3></td>
                        <td><p class="user-blue">% Overall work</p><h3 class="h3-color">48%</h3></td>
                    </tr>
                </table>
                <a href="#/" class="blue-anchor">Send invoice</a>
                <br><br>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h3>Total Overdue</h3>
                        <p>I need Dollars</p>
                        <h2 class="text-center">$14,220</h2>
                        <br>
                        <canvas class="chart chart-line" chart-data="data3" chart-labels="labels3" chart-click="onClick" chart-colors="colors3" chart-options="options3" height="180"></canvas>
                        <br>
                        <a href="#/" class="grey-anchor">Export PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

