<div class="user-dashboard">
    <div class="row working-hour">
        <div class="col-sm-12">
            <h3>Hello, Filip</h3>
            <p>Checkout your latest projects and their progress</p>
            <hr>
        </div>
        <div class="col-sm-12">
            <div class="thumbnail">
                <div class="clearfix">
                    <div class="pull-left">
                        <h3>Wavy Lines</h3>
                        <p>Working hours</p>
                    </div>
                    <div class="pull-right">
                        <h4 style="margin-top:25px;">THIS WEEK&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-down bold"></i></h4>
                    </div>
                </div>

                <canvas class="chart chart-line" chart-data="data" chart-labels="labels"
                    chart-series="series" chart-click="onClick" chart-colors="colors" chart-options="options"></canvas>
            </div>
        </div>
    </div>
    <div class="row daily-progress">
        <div class="col-sm-12">
            <h3>Crunch some Numbers</h3>
            <p>See how your projects are progressing via the new statistics engine</p>
            <hr>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="pull-left">
                            <h3>96</h3>
                            <p>Working Hours</p>
                        </div>
                        <div class="pull-left">
                            <canvas class="chart chart-line" chart-data="data4" chart-labels="labels4" chart-click="onClick" chart-colors="colors4" chart-options="options4" width="170"></canvas>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="pull-left">
                            <h3>1,204</h3>
                            <p>Conversations</p>
                        </div>
                        <div class="pull-left">
                            <canvas class="chart chart-line" chart-data="data5" chart-labels="labels5" chart-click="onClick" chart-colors="colors5" chart-options="options5" width="170"></canvas>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="pull-left">
                            <h3>7</h3>
                            <p>People</p>
                        </div>
                        <div class="pull-left avatar-list">
                            <ul>
                                <li><img src="images/avatar-thumbnail1.png" alt="" /></li>
                                <li><img src="images/avatar-thumbnail2.png" alt="" /></li>
                                <li><img src="images/avatar-thumbnail3.png" alt="" /></li>
                                <li><img src="images/avatar-thumbnail4.png" alt="" /></li>
                                <li><img src="images/avatar-thumbnail5.png" alt="" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="thumbnail">
                <div class="clearfix">
                    <div class="pull-left">
                        <h3>Daily Progress</h3>
                        <p>Working hours</p>
                    </div>
                    <div class="pull-right">
                        <h4 style="margin-top:25px;">THIS WEEK&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-down bold"></i></h4>
                    </div>
                </div>
                <canvas class="chart chart-line" chart-data="data1" chart-labels="labels1"
                        chart-series="series1" chart-click="onClick" chart-colors="colors1" chart-options="options1" style="padding:10px;" height="150"></canvas>
            </div>
        </div>
    </div>
    <div class="row current-progress">
        <div class="col-sm-12">
            <h3>Current Progress</h3>
            <p>This table will show you how your current projects are behaving.</p>
            <hr>
        </div>
        <div class="col-sm-12 current-projects">
            <div class="row">
                <div class="col-sm-12">
                    <div class="thumbnail">
                        <div>
                            <img src="images/product1.png" alt="product 1" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="thumbnail">
                        <div>
                            <img src="images/product2.png" alt="product 2" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="thumbnail">
                        <div>
                            <img src="images/product3.png" alt="product 3" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="thumbnail">
                        <div class="row" style="position:relative">
                            <div class="col-sm-2 aligner">
                                <img src="images/product4.png" alt="product 4" class="aligner-item--fixed"/>
                            </div>
                            <div class="col-sm-3">
                                <h3>Project Title</h3>
                                <p>Design & Development</p>
                            </div>
                            <div class="col-sm-2 aligner">
                                <p class="aligner-item--fixed">Last updated <span class="h3-color">Today at 4:24am</span></p>
                            </div>
                            <div class="col-sm-1 aligner">
                                <div class="aligner-item--fixed"><img src="images/clock.png" alt="" /> <span class="user-blue">26:30</span></div>
                            </div>
                            <div class="col-sm-1 aligner">
                                <div class="aligner-item--fixed"><img src="images/chat.png" alt="" /> <span class="user-blue">666</span></div>
                            </div>
                            <div class="col-sm-2 aligner">
                                <div class="aligner-item--fixed" style="width:100%">
                                    <div>
                                        <div class="progress ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--todo 4-->
    <div class="row crunch-some-numbers">
        <div class="col-sm-12">
            <h3>Crunch some Numbers</h3>
            <p>See how your projects are progressing via the new statistics engine.</p>
            <hr>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h3>Client Hours</h3>
                        <p>Working hours</p>
                        <canvas id="doughnut" class="chart chart-doughnut"
                                chart-data="data2" chart-labels="labels2" chart-colors="colors2" height="180">
                        </canvas>
                        <br>
                        <ul class="h3-color text-center">
                            <li><span class="round-dot"></span>&nbsp;&nbsp; Sweet & Simple   37:45h</li>
                            <li>Sweet & Simple   37:45h</li>
                            <li>Sweet & Simple   37:45h</li>
                            <li>Sweet & Simple   37:45h</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail text-center no-padding">
                <img src="images/avatar.png" class="avatar-image" alt=""/>
                <h3>Jake Appleseed</h3>
                <p>London, UK</p>
                <table class="table table-bordered avatar-table">
                    <tr>
                        <td><p>Working hours</p><p>14 hours</p></td>
                        <td><p>Amount Total</p><p>$6,269</p></td>
                    </tr>
                    <tr>
                        <td><p>Overdue</p><p>$ 829</p></td>
                        <td><p>% Overall work</p><p>48%</p></td>
                    </tr>
                </table>
                <a href="" class="blue-anchor">Send invoice</a>
                <br><br>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h3>Total Overdue</h3>
                        <p>I need Dollars</p>
                        <h2 class="text-center">$14,220</h2>
                        <br>
                        <canvas class="chart chart-line" chart-data="data3" chart-labels="labels3" chart-click="onClick" chart-colors="colors3" chart-options="options3" height="220"></canvas>
                        <br>
                        <a href="#" class="grey-anchor">Export PDF</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

